body{
    background-color: lightblue;
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    width: 500px;
    margin: auto;
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.37);
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
    padding-top: 10px;
}

#foto{ 
    width: 250px;  
    height: 250px;
    border-radius: 50%;
}